<h2>About Super JavaScript Books</h2>

<p>The Super JavaScript Books website was created to explore the wonderful world of Ember.js. This project allows us to imagine traveling the world while simultaneously traversing the pathways of the Ember framework!</p>
