<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Super JavaScript Books</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="about">about</a></li>
      <li><a href="contact">Contact</a></li>
      <li><a href="/">Home</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  {{outlet}}
</div>
{{!-- ember-cli-materialize modal container --}}
{{md-modal-container}}
