<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Super JavaScript Books</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li>{{#link-to 'admin'}}Log In{{/link-to}}</li>
        <li>{{#link-to 'about'}}About Us{{/link-to}}</li>
        <li>{{#link-to 'contact'}}Contact Us{{/link-to}}</li>
        <li>{{#link-to 'index'}}Home{{/link-to}}</li>
        <li>{{#link-to 'cart'}}<i class="material-icons">shopping_cart</i>{{/link-to}}</li>
      </ul>
    </div>
  </nav>
</div>

<div class="container">
  {{outlet}}
  {{md-modal-container}}
</div>
{{!-- ember-cli-materialize modal container --}}
